// COLORS
$color-primary: #E6C685;

$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #999;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


//media query
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";